@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Noto+Sans:wght@400;700&family=Open+Sans:wght@300;400;700&family=Roboto:ital,wght@0,400;1,300&family=Tajawal:wght@200&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}



.app {
    background: #f1f1f1;
    display: grid;  
    grid-template-areas: 
        "cabecalho"
        "conteudo"
        "rodape";
    grid-template-columns: auto;
    grid-template-rows: 50px 100vh auto; 
}

.cabecalho {
    grid-area: cabecalho;
}

.conteudo {
    grid-area: conteudo;
}

.rodape {
    grid-area: rodape;
}